## Task write all string functions with example

 Method	Description 
capitalize()	Converts the first character to upper cas,e 
casefold()	Converts string into lower ca,s e
center()	Returns a centered sir
ng
count()	Returns the number of times a specified value occurs in ar# 
ing
encode()	Returns an encoded version of tes,t ring
endswith()	Returns true if the string ends with the specified, value
expandtabs()	Sets the tab size of the, string
find()	Searches the string for a specified value and returns the position of where it w,as found
format()	Formats specified values in, a string
format_map()	Formats specified values i,n a string
index()	Searches the string for a specified value and returns the position of where i,t was found
isalnum()	Returns True if all characters in the string are ,alphanumeric
isalpha()	Returns True if all characters in the string are in, the alphabet
isascii()	Returns True if all characters in the string are as,cii characters
isdecimal()	Returns True if all characters in the stri,ng are decimals
isdigit()	Returns True if all characters in the s,tring are digits
isidentifier()	Returns True if the string, is an identifier
islower()	Returns True if all characters in the str,ing are lower case
isnumeric()	Returns True if all characters in the, string are numeric
isprintable()	Returns True if all characters in the ,string are printable
isspace()	Returns True if all characters in the s,tring are whitespaces
istitle()	Returns True if the string follow,s the rules of a title
isupper()	Returns True if all characters in th,e string are upper case
join()	Converts the elements of a,n iterable into a string
ljust()	Returns a left justif,ied version of the string
lower()	Convert,s a string into lower case
lstrip()	Returns a left, trim version of the string
maketrans()	Returns a translation tabl,e to be used in translations
partition()	Returns a tuple where the stri,ng is parted into three parts
replace()	Returns a string where a specified value is r,eplaced with a specified value
rfind()	Searches the string for a specified value and returns the last, position of where it was found
rindex()	Searches the string for a specified value and returns the las,t position of where it was found
rjust()	Returns a righ,t justified version of the string
rpartition()	Returns a tuple where the, string is parted into three parts
rsplit()	Splits the string at the spec,ified separator, and returns a list
rstrip()	Return,s a right trim version of the string
split()	Splits the string at the sp,ecified separator, and returns a list
splitlines()	Splits the st,ring at line breaks and returns a list
startswith()	Returns true if the, string starts with the specified value
strip(),	Returns a trimmed version of the string
swapcase()	Swaps cases, low,er case becomes upper case and vice versa
title()	Converts the ,first character of each word to upper ca,se
translate()	Returns a translated strin,g
upper()	Converts a string into upper case
zfill()	Fills the string with a ,specified number of 0 values at the beginning

In [23]:
# 1 capitalize()

sentence1 = "rohit lift the trophy"
print(sentence1.capitalize())
print(f'sentence = {sentence1.capitalize()}')

Rohit lift the trophy
sentence = Rohit lift the trophy

In [9]:
# 2 casefold()

sentence2 = "Virat Kohli is a face of cricket world"
print(sentence2.casefold())
print(f'sentence = {sentence2.casefold()}')

virat kohli is a face of cricket world
sentence = virat kohli is a face of cricket world

In [16]:
# 3 count()

sentence3 = "messi and ronaldo are bestfriends off the field"
print(sentence3.count("s"))
print(f'count of s = {sentence3.count("s")}')

4
count of s = 4

In [22]:
# 4 center()

sentence4 = "football is a legendery game"
print(sentence4.center(50))
print(f'result = {sentence4.center(50)}')

           football is a legendery game
result =            football is a legendery game

In [27]:
# 5 encode()

sentence5 = "python is programming language"
print(sentence5.encode())
print(f'result = {sentence5.encode()}')

b'python is programming language'
result = b'python is programming language'

In [31]:
# 6 endswith()

sentence6 = "Dale steyn is Goat"
print(sentence6.endswith("steyn"))
print(f'result = {sentence6.endswith("Goat")}')

False
result = True

In [9]:
# 7 expandtabs()

sentence7 = "Ms\tDhoni\twas\tNo\t1\tbatsman\tin\t2009"
print(sentence7.expandtabs(4))

Ms  Dhoni   was No  1   batsman in  2009

In [45]:
# 8 find()

sentence8 = "I am enrolled for DA 6"
print(sentence8.find("6"))
print(f'result = {sentence8.find("enrolled")}')

21
result = 5

In [47]:
# 9 format()

sentence9 = "Variable is nothing but a {} who stores temporary data"
print(sentence9.format("conatainer"))
print(f'result = {sentence9.format("container")}')

Variable is nothing but a conatainer who stores temporary data
result = Variable is nothing but a container who stores temporary data

In [52]:
# 10 format_map()

sentence10 = "Python is {language} programming language"
print(sentence10.format_map({"language":"high-level"}))
print(f'result = {sentence10.format_map({"language":"high-level"})}')

Python is high-level programming language
result = Python is high-level programming language

In [57]:
# 11 index()

sentence11 = "DA-6"
print(sentence11.index("D"))
print(f'result = {sentence11.index("6")}')

0
result = 3

In [61]:
# 12 isalnum()

sentence12 = "ArcDA6"
sentence12_a = "Arc DA 6"
print(sentence12.isalnum(),sentence12_a.isalnum())
print(f'result = {sentence12.isalnum(),sentence12_a.isalnum()}')

True False
result = (True, False)

In [64]:
# 13 isalpha()

sentence13 = "Ironman"

print(sentence13.isalpha(),sentence12_a.isalpha())
print(f'result = {sentence13.isalpha(),sentence12_a.isalpha()}')

True False
result = (True, False)

In [66]:
# 14 isascii()

sentence14 = "binary-code-011"
print(sentence14.isascii())
print(f'result = {sentence14.isascii()}')

True
result = True

In [69]:
# 15 isdecimal()
sentence15 = "01082003"
print(sentence15.isdigit())
print(sentence14.isdigit())
print(f'result = {sentence15.isdigit()}')

True
False
result = True

In [76]:
# 16 isidentifier()
sentence16 = "array_of_element"
print(sentence16.isidentifier())
print(sentence15.isidentifier())
print(f'result = {sentence16.isidentifier()}')

True
False
result = True

In [81]:
# 17 islower()
sentence17 = "ARC TECHNOLOGY"
print(sentence17.islower())
print(sentence16.islower())
print(f'result = {sentence17.islower()}')

False
True
result = False

In [82]:
# 18 isupper
sentence18 = "CALL OF DUTY"
print(sentence18.isupper())
print(f'result = {sentence18.isupper()}')

True
result = True

In [94]:
# 19 isnumeric()
sentence19 = "3/4"     #doubtfull
print(sentence19.isnumeric())

False

In [89]:
# 20 isprintable()

sentence20 = "print_result"
print(sentence20.isprintable())

True

In [93]:
# 21 isspace()
sentence21 = "  Today is  ENG vs IND semifinal  "   #"   " whitespace
print(sentence21.isspace())

False

In [96]:
# 22 istitle()
sentence22 = "The Avengers"
print(sentence22.istitle())
print(sentence20.istitle())

True
False

In [39]:
# 23 join()  	Converts the elements of an iterable into a string
sentence23 = ","
#sentence23.join("l1")
print(sentence23.join(["apple","mango"]))         #doubt
#print(sentence23.join("postgres"))

apple,mango

In [42]:
# 24 ljust()  Returns a left justified version of the string
sentence24 = "MONGODB"
sentence24.ljust(10)
#result = sentence24.ljust(10)
#print(result)
#print(f'result={result}')

'MONGODB   '

In [45]:
# 25 lower()	Converts a string into lower case
sentence25 = "END OF BEGINING"
result=sentence25.lower()
print(f'result={result}')

result=end of begining

In [56]:
# 26 lstrip()	Returns a left trim version of the string
sentence26 = "Goat Ben Stokes is best clutch player of all time"
result=sentence26.lstrip("Goat ")
print(result)
print(f'result = {result}')

Ben Stokes is best clutch player of all time
result = Ben Stokes is best clutch player of all time

In [65]:
 # 27 maketrans()	Returns a translation table to be used in translations
sentence27 = "arc da 6"
trans=str.maketrans("6","2")
result = sentence27.translate(trans)
print(result)
print(f'result={result}')

arc da 2
result=arc da 2

In [68]:
# 28 partition()	Returns a tuple where the string is parted into three parts
sentence28 = "My dream is to become cricketer"
result = sentence28.partition("to become")
print(result)
print(f'result={result}')

('My dream is ', 'to become', ' cricketer')
result=('My dream is ', 'to become', ' cricketer')

In [70]:
# 29 replace()	Returns a string where a specified value is replaced with a specified value
senetence29 = "What is DDL in sql"
result=senetence29.replace("DDL","DML")
print(result)
print(f'result={result}')

What is DML in sql
result=What is DML in sql

In [74]:
# 30 rfind()	Searches the string for a specified value and returns the last position of where it was found
sentence30 = "Chatgpt is better than gemini ai"
result=sentence30.rfind("ai")
print(result)

30

In [77]:
# 31 rindex() Searches the string for a specified value and returns the last position of where it was found
sentence31 = "this week will define my mentalhealth"
result = sentence31.rindex("my")
print(result)
print(f'result={result}')

22
result=22

In [82]:
# 32 rjust()	Returns a right justified version of the string
sentence32 = "KINGKONG"
result = sentence32.rjust(10)
print(result)
print(f'result = {result}')

  KINGKONG
result =   KINGKONG

In [94]:
# 33 rstrip()	Returns a right trim version of the string
sentence33 = "ARC INSTIUTION AND TECHNOLOGY"
result=sentence33.rstrip(" TECHNOLOGY")
print(result)
print(f'result={result}')

ARC INSTIUTION AND
result=ARC INSTIUTION AND

In [102]:
# 34 rsplit()	Splits the string at the specified separator, and returns a list
sentence34 = "REDMI OPPO ONEPLUS"
result = sentence34.rsplit()
print(result)

['REDMI', 'OPPO', 'ONEPLUS']

In [107]:
#35 rpartition()	Returns a tuple where the string is parted into three parts
sentence35 = "BMW AUDI SUPRA"
result = sentence35.rpartition("SUPRA")
print(result)

('BMW AUDI ', 'SUPRA', '')

In [109]:
# 36 splitlines()	Splits the string at line breaks and returns a list
sentence36 = "A thousand years"
result=sentence36.splitlines()
print(result)

['A thousand years']

In [112]:
#  37 startswith()	Returns true if the string starts with the specified value
sentence37 = "I Need to buckle up"
result=sentence37.startswith("up")
print(result)

False

In [114]:
# 38 swapcase()	Swaps cases, lower case becomes upper case and vice versa
sentence38 = "A,B,C,d,f,g"
result=sentence38.swapcase()
print(result)

a,b,c,D,F,G

In [122]:
# 39 removeprefix() & removesuffix
sentence39 = "Virat_Rohit"
result = sentence39.removeprefix("Virat")
print(result)
result2 = sentence39.removesuffix("Rohit")
print(result2)

_Rohit
Virat_

In [130]:
#40 zfill()	Fills the string with a specified number of 0 values at the beginning
sentence40 = "MESSI"
result=sentence40.zfill(1)
print(result)

000000MESSI

In [146]:
# 41 translate()	Returns a translated string

dict = {83 : 92}
sentence41="iS emotion"
result=sentence41.translate(dict)
print(result)
#mydict = {83:  90}

#txt = "Hello Sam!"

#print(txt.translate(mydict))'''

i\ emotion